.orderDetail {
  @include flex(column, center, center);
  margin: 1rem 7rem;

  .image_section {
    > img {
      height: 10rem;
      width: 30rem;
      object-fit: contain;
    }
  }
  > div {
    > p > span {
      font-weight: 500;
    }
    > .btn_div {
      @include flex;
      > button {
        &::after {
          content: "Cancel Order";
        }
        font-size: 1.05rem;
        @include btn(1rem 2rem, $color2, $color1);
        &:hover {
          opacity: 0.8;
          &::after {
            content: "Dont cancel please!!!";
          }
        }

        &:disabled {
          cursor: not-allowed;
          &:hover {
            opacity: 0.8;
            &::after {
              content: "Cancel Order";
            }
          }
        }
      }
    }
  }
}

.main_container_orderDetails {
  position: relative;

  .dialog {
    position: absolute;
    top: 50%;
    opacity: 1 !important;
    border: 1px solid $color3;
    margin: auto;
    transition: all 1s;
    min-width: 400px;
    min-height: 100px;
    @include flex;
    animation: opacity 0.09s ease-in;
    @keyframes opacity {
      from {
        opacity: 0;
        margin-top: 2rem;
      }
      to {
        opacity: 1;
        margin-top: 0;
      }
    }

    > div {
      text-align: center;
      @include flex(column, center, center);

      > div > button {
        @include btn(0.5rem 1.1rem, $color2, $color1);
        margin: 0 0.5rem;
      }
    }
  }

  .order_details_status_container {
    width: 100%;
    .order_container {
      margin: 0 7rem;

      .row {
        display: flex;
      }
    }
    .hh-grayBox {
      background-color: #f8f8f8;
      margin-bottom: 20px;
      padding: 35px;
      margin-top: 20px;
      width: 100%;
    }
    .pt45 {
      padding-top: 45px;
    }
    .order-tracking {
      text-align: center;
      width: 33.33%;
      position: relative;
      display: block;
    }
    .order-tracking .is-complete {
      display: block;
      position: relative;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      border: 0px solid #afafaf;
      background-color: #f7be16;
      margin: 0 auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
      z-index: 2;
    }
    .order-tracking .is-complete:after {
      display: block;
      position: absolute;
      content: "";
      height: 14px;
      width: 7px;
      top: -2px;
      bottom: 0;
      left: 5px;
      margin: auto 0;
      border: 0px solid #afafaf;
      border-width: 0px 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
    .order-tracking.completed .is-complete {
      border-color: #27aa80;
      border-width: 0px;
      background-color: #27aa80;
    }

    .order-tracking.completed .is-complete:after {
      border-color: #fff;
      border-width: 0px 3px 3px 0;
      width: 7px;
      left: 11px;
      opacity: 1;
    }
    .order-tracking p {
      color: #a4a4a4;
      font-size: 16px;
      margin-top: 8px;
      margin-bottom: 0;
      line-height: 20px;
    }
    .order-tracking p span {
      font-size: 14px;
    }
    .order-tracking.completed p {
      color: #000;
    }
    .order-tracking::before {
      content: "";
      display: block;
      height: 3px;
      width: calc(100% - 40px);
      background-color: #f7be16;
      top: 13px;
      position: absolute;
      left: calc(-50% + 20px);
      z-index: 0;
    }
    .order-tracking:first-child:before {
      display: none;
    }
    .order-tracking.completed:before {
      background-color: #27aa80;
    }
  }
}

.my_order_details {
  width: 100%;
}
