// .primary_button {
//   padding: 0.5rem 1rem;
//   border-radius: 5px;
//   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//   font-size: 1rem;
//   font-weight: normal;
//   background-color: $color3;
//   color: $color1;
//   cursor: pointer;
// }

.product_table_container {
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }

  .responsive-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #95a5a6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .col-1 {
      flex-basis: 10%;
    }
    .col-2 {
      flex-basis: 40%;
    }
    .col-3 {
      flex-basis: 25%;
    }
    .col-4 {
      flex-basis: 25%;
    }

    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }
      .table-row {
      }
      li {
        display: block;
      }
      .col {
        flex-basis: 100%;
      }
      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6c7a89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
}


.email-update-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;


  
.email-update-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.email-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.update-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #0056b3;
}
}
.sign_in_modal_container{
  background-color: white;
   
    border-radius: 8px;
    margin-top: 2rem;
    text-align: center;

.login_side{
  span{
    color: $color3;
  }
}
    .email-input , .password-input{
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
    }

    .login-button {
      // width: 70%;
      // margin:auto;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      background-color: #007bff;
      color: white;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  
}

.active_feature_product_container{

display: flex;
align-items: center;
gap: 1rem;
justify-content: center;
margin-top: 1rem;

.active_feature_product{
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


  --sz: 2vmin;  /* size */
  --on: #2eddf3; /* color on */
  --of: #68838d; /* color off */
--tr: all 0.25s ease 0s;


* {
  box-sizing: border-box;
  transition: var(--tr);
}






.toggle {
  position: relative;
  width: calc(var(--sz) * 4);
  height: calc(var(--sz) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  display: none;
}

label[for=btn] {
  position: absolute;
  width: calc(var(--sz) * 4);
  height: calc(var(--sz) * 2);
  background: linear-gradient(180deg, #888, #fff);
  border-radius: var(--sz);
  padding: calc(var(--sz) / 5);
  box-shadow: 0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0002;
}	

#btn:checked + label[for=btn] {
  box-shadow: 
    0 calc(var(--sz) / 50) calc(var(--sz) / 5) #fff9, 
    0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0002;
}

label[for=btn]:after {
  content: "";
  position: absolute;
  width: calc(100% - calc(calc(var(--sz) / 5) * 12));
  height: calc(100% - calc(calc(var(--sz) / 5) * 2));
  box-shadow: 0 0 calc(var(--sz) / 2) calc(var(--sz) / 10) var(--on), 0 0 calc(var(--sz) / 2) calc(var(--sz) / 10) #fff;
  border-radius: var(--sz);
  z-index: 0;
  opacity: 0;
  transition: var(--tr);
  animation: move-shadow 3s ease 0s 1;
}

#btn:checked + label[for=btn]:after {
  opacity: 1;
  width: calc(100% - calc(calc(var(--sz) / 5) * 4));
}





.track {
  position: absolute;
  width: calc(calc(var(--sz) * 4) - calc(var(--sz) / 2.5));
  height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 2.5));
  border-radius: var(--sz);
  overflow: hidden;
}

.track:before {
  content: "";
  position: absolute;
  width: calc(200% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3)));
  height: 100%;
  left: -50%;
  transition: var(--tr);
  background: linear-gradient(90deg, var(--on) 50%, var(--of) 50%);
  animation: move-color 3s ease 0s 1;
}

.track:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--sz);
  box-shadow: 0 calc(var(--sz) / -10) calc(var(--sz) / 10) 0 #0005 inset, 0 calc(var(--sz) / 10) calc(var(--sz) / 10) 0 #0005 inset;
}

#btn:checked + label .track:before {
  left: 0%;
}







.thumb {
  position: absolute;
  width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 3));
  height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 3));
  top: calc(calc( var(--sz) / 10) + calc(var(--sz) / 15));
  left: calc(calc( var(--sz) / 10) + calc(var(--sz) / 15));
  background: linear-gradient(180deg, #fff, #afafaf);
  border-radius: var(--sz);
  box-shadow: 0 0 0 calc(var(--sz) / 50) #0002, 0 calc(var(--sz) / 10) calc(var(--sz) / 10) 0 #0008;
  cursor: pointer;
  font-size: calc(var(--sz) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: calc(var(--sz) * -0.025);
  text-shadow: 
    calc(var(--sz) / -8000) calc(var(--sz) / -150) calc(var(--sz) / 50) #0008, 
    calc(var(--sz) / 150) calc(var(--sz) / 100) calc(var(--sz) / 50) #fff;
  color: #7d7c7c;
  z-index: 1;
  animation: move-thumb 3s ease 0s 1;
}

#btn:checked + label .thumb {
  left: calc(calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) - calc(calc( var(--sz) / 10) + calc(var(--sz) / 15)));
  color: var(--on);
  background: 
    radial-gradient(circle at 7% 50%, #fff calc(var(--sz) / 50), #fff0 calc(var(--sz) / 2)),
    radial-gradient(circle at 0 50%, var(--on) 10%, #fff0 60%), 
    linear-gradient(180deg, #fff, #afafaf);
  text-shadow: 
    0 0 calc(var(--sz) / 10) var(--on), 0 0 calc(var(--sz) / 5) #fff, 
    calc(var(--sz) / -8000) calc(var(--sz) / -150) calc(var(--sz) / 50) #0008, 
    calc(var(--sz) / 150) calc(var(--sz) / 100) calc(var(--sz) / 50) #fff;
}

.thumb:before {
  content: "";
  display: block;
  width: 70%;
  height: 70%;
  background: linear-gradient(180deg, #0008, #ccc, #fff);
  position: absolute;
  z-index: -1;
  border-radius: var(--sz);
  border: calc(var(--sz) / 50) solid #ddd;
}





.txt:before, 
.txt:after {
  content: "";
  position: absolute;
  left: calc(var(--sz) / 2);
  top: 25%;
  content: "ON";
  transition: var(--tr);
  font-size: calc(var(--sz) / 1.5);
  color: #000;
  opacity: 0.4;
  text-shadow: 0px -1px 1px #000, 0px 1px 2px #fff;
}

.txt:after {
  content: "OFF";
  left: calc(100% - calc(var(--sz) / 0.625));
}


/* initial animation */
@keyframes move-thumb {
  0%, 20%, 80%, 100% { 
    left: calc(calc( var(--sz) / 10) + calc(var(--sz) / 15));
    color: #7d7c7c;
    background: linear-gradient(180deg, #fff, #afafaf);
    text-shadow:  
      calc(var(--sz) / -8000) calc(var(--sz) / -150) calc(var(--sz) / 50) #0008, 
      calc(var(--sz) / 150) calc(var(--sz) / 100) calc(var(--sz) / 50) #fff;
  }
  30%, 70% {
    left: calc(calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) - calc(calc( var(--sz) / 10) + calc(var(--sz) / 15)));
    color: var(--on);
    background: 
      radial-gradient(circle at 7% 50%, #fff calc(var(--sz) / 50), #fff0 calc(var(--sz) / 2)),
      radial-gradient(circle at 0 50%, var(--on) 10%, #fff0 60%), 
      linear-gradient(180deg, #fff, #afafaf);
    text-shadow:
      0 0 calc(var(--sz) / 10) var(--on), 0 0 calc(var(--sz) / 5) #fff, 
      calc(var(--sz) / -8000) calc(var(--sz) / -150) calc(var(--sz) / 50) #0008, 
      calc(var(--sz) / 150) calc(var(--sz) / 100) calc(var(--sz) / 50) #fff;
  }
}

@keyframes move-color {
  0%, 20%, 80%, 100% { left: -50%; }
  30%, 70% { left: 0%; }
}


@keyframes move-shadow {
  0%, 20%, 80%, 100% { 
    opacity: 0;
    width: calc(100% - calc(calc(var(--sz) / 5) * 12));	
  }
  30%, 70% { 
    opacity: 1;
    width: calc(100% - calc(calc(var(--sz) / 5) * 4));
  }
}
}}